h1{color:black;
	text-align: center;
 	}
h2{color: black;}
span{
font-size: 14px;

	}	
q{background: white;
	border-style: solid;
	display: block;
	margin-right: 535px;
	margin-left:180px ;
}
body{
	font-size: bold;
	font-weight: bold;
	}
img{
	background-attachment:scroll;
p{

}